body {
    margin: 0;
    padding: 0;
}
#main-canvas {
    margin: 0;
    padding: 0;
    display: inline-block;
    border: white 2px solid;
    width: 650px;
    height: 700px;
}
#container {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: auto;
    height: auto;
}
#editor {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 650px;
    height: 700px;
}
